{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
  <div class="container my-4" style="width: 50vw;">
    <form method="get" action="{% url 'search' slug='placeholder' %}" id="search-form" class="input-group mx-auto">
      <input type="text" name="q" class="form-control" placeholder="Search for food..." />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" id="submit-search">search 🕵️🧐</button>
      </div>
    </form>
  </div>

  <div class="container mt-3">
    <div class="food-cards-container">
      {% for food_item in foods %}
        {% include '_food_card.html' %}
      {% empty %}
        <p>Try searching for a food!</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
