{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
  <div>
    <div class="input-group mx-auto" style="width: 50vw;">
      <input id="searchBox" type="text" class="form-control" placeholder="Search here!" aria-label="Search" aria-describedby="submit-search" />
      <div class="input-group-append">
        <span class="input-group-text" id="submit-search" style="cursor:pointer;">search 🕵️🧐</span>
      </div>
    </div>
  </div>

  <div class="list-group" id="search-list"></div>
  {% for food_item in foods %}
    <a class="list-group-item list-group-item-action">
      <h5 class="d-flex w-100 justify-content-between">Brand: {{food_item.brandName}}</h5>
      <p>Description: {{food_item.description}}</p>
    </a>
  {% empty %}
    <p>Try searching for a food!.</p>
  {% endfor %}
{% endblock %}
